BODY { font-size:62.5%; font-family:"lucida grande",tahoma,verdana,arial,sans-serif; margin: 0; }

DIV {font-size:1em;}

DIV#header DIV.title, DIV.item H3, DIV.item H4, DIV.pager A {font: bold 1.6em;}
DIV#header { background-color: #444; border-bottom: 2px solid #111; color: White; }
DIV#header DIV.title { font-size: 2.0em; padding: 0.6em; }
DIV#content { border-left: 2px solid gray; margin-left: 13em; padding: 1em; }
DIV#categories { float: left; width: 12em; padding: .3em; }
DIV#categories A.selected { background-color: #666; color: White; }
DIV#categories A:hover { background-color: #CCC; }
DIV#categories A.selected:hover { background-color: #666; }

FORM { margin: 0; padding: 0; }

DIV.pager { text-align:right; border-top: 0.2em solid silver; padding: .5em 0 0 0; margin-top: 1em; }
DIV.pager A { font-size: 1.2em; color: #666; text-decoration: none; padding: .1em .4em .1em .4em; }
DIV.pager A:hover { background-color: Silver; }
DIV.pager A.selected { background-color: #FFAA2A; color: #000; }

DIV#categories A
{
    font: bold 1.4em "Arial Narrow","Franklin Gothic Medium",Arial; display: block;
    text-decoration: none; padding: .6em; color: Black;
    border-bottom: 1px solid silver;
}

DIV.skill-list-item { border: 0.1em dotted gray; padding: .7em; margin-bottom: .7em;  width: 20em; height:6em; }
DIV.skill-list-item:first-child {  }
DIV.skill-list-item H3 { font-size: 1.4em; margin: 0 0 .1em 0; }
DIV.skill-list-item H4 { font-size: 1.2em; margin:.4em 0 0 0; }
DIV.skill-list-item P { margin:.1em 0 0 0; }
DIV.skill-list-item img { border: 0.1em solid #000; width:3.2em; height:3.2em; }

DIV.skill-list-item .skill-controls { position:relative; top:-2em; float:right; }
DIV.skill-list-item INPUT { color:White; background-color: #333; border: 0.1em solid black; cursor:pointer;}

DIV#move-skill-list li { width: 20em; clear:right; margin-bottom:1em; }
DIV#move-skill-list form { display:inline; float:right; position:relative;  }
DIV#move-skill-list .move-skill-name {}

H2 { margin-top: 0.3em }
TFOOT TD { border-top: 1px dotted gray; font-weight: bold; }

.actionButtons A { font: .8em Arial; color: White; margin: 0 .5em 0 .5em; text-decoration: none; padding: .15em 1.5em .2em 1.5em; background-color: #353535; border: 1px solid black; }

DIV#skill-profile {}
DIV#skill-profile .edit-controls { width: 20em; margin-bottom: 1em; }
DIV#skill-profile .edit-controls input { float: left; }

DIV#skill-profile ul { margin: 0.2em 0 0 0; }
DIV#skill-profile li { font-size: 0.8em }


DIV#skill-profile-summary { float:right; margin: .8em; color: Silver; background-color: #555; padding: .5em .5em .5em 1em; }
DIV#skill-profile-summary A { text-decoration: none; padding: .4em 1em .4em 1em; line-height:2.1em; margin-left: .5em; background-color: #333; color:White; border: 1px solid black;}
DIV#skill-profile-summary SPAN.summary { color: White; }

DIV.profile-skill-item { border: 0.1em dotted #C0C0C0; padding: .3em; margin-bottom: .7em;  width: 20em; }
DIV.profile-skill-item .skill-name {font-weight: bold; }

DIV#add-skill { float:right; margin: .8em; color: Silver; background-color: #555; padding: .5em .5em .5em 1em; }
DIV#add-skill A { text-decoration: none; padding: .4em 1em .4em 1em; line-height:2.1em; margin-left: .5em; background-color: #333; color:White; border: 1px solid black;}

/* Validation */

.field-validation-error { color: red; }
.input-validation-error { border: 1px solid red; background-color: #ffeeee; }
.validation-summary-errors { font-weight: bold; color: red; }
.input-validation-valid { border: 1px solid green; background-color: #CCFFCC; }

DIV#modal { font-size: 1.2em; }

DIV.form-field { margin: 0 0 1em 0;  }
DIV.form-field label { display:block; margin-bottom: .1em; }
DIV.form-field input { width:15em;  border: 1px solid #C0C0C0; font-size:1.2em; font-family:tahoma,verdana,arial,sans-serif; }
DIV.form-field textarea { width:15em; border: 1px solid #C0C0C0; font-size:1.2em; font-family:tahoma,verdana,arial,sans-serif; }

FIELDSET { border: 0.2em solid #D0D0D0; padding: 1em 0 0 1em; }
FIELDSET LEGEND { font-size: 1.4em; font-weight:bold; margin-bottom:0em; }

